[submodule "picolibc"]
	path = picolibc
	url = https://github.com/okuoku/picolibc
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/okuoku/llvm-project
[submodule "tools/wabt"]
	path = tools/wabt
	url = https://github.com/WebAssembly/wabt
